body {
    background-color: #fafafa; /* Beige clair */
    font-family: 'Arial', sans-serif;
    color: #333; /* Noir */
}

.page {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff; /* Blanc */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

[data-role="header"] {
    background-color: #e0cfa9; /* Beige */
    color: #333; /* Noir */
    text-align: center;
    padding: 10px 0;
}

[data-role="header"] h1 {
    margin: 0;
    font-size: 24px;
}

.ui-content {
    padding: 20px;
}

input[type="text"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="button"] {
    padding: 10px 20px;
    background-color: #e0cfa9; /* Beige */
    color: #333; /* Noir */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="button"]:hover {
    background-color: #d5b389; /* Beige plus foncé */
}

h2 {
    color: #e0cfa9; /* Beige */
    font-size: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
    background-color: #f9f9f9; /* Gris très clair */
    border-bottom: 1px solid #ddd;
}

li:last-child {
    border-bottom: none;
}

.done {
    text-decoration: line-through;
    color: #8BC34A; /* Vert */
}

[data-role="footer"] {
    background-color: #e0cfa9; /* Beige */
    color: #333; /* Noir */
    text-align: center;
    padding: 10px 0;
}
